<h1>Покупка</h1>

<table>
  <tr>
  <th>Название</th>
   <th>Описание</th>
  </tr>

<% for buy in @buys %>
  <tr>
    <td><%= link_to buy.id,  buy%></td>
    <td><%= buy.good_id %></td>
    <td><%= buy.quant %></td>
    <td><%= buy.order_id %></td>
   <% if session[:user]&&session[:user].login=="admin" %>
    <td><%= link_to 'Изменить',  edit_buy_path(buy) %></td>
    <td><%=  link_to 'Удалить', buy, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />
<a href="javascript:history.back();">Назад</a>
