<% if session[:user]&&session[:user].login=='admin' %>
	<% for order in orders_fin() %>
		<li><%= link_to "Заказ #{username_order(order.user_id).login}",  order %>  (<%= orders_status(order.status) %>)</li>
	<% end %>
		<% for order in trash_fin() %>
		<h1><%= link_to "Корзина #{username_order(order.user_id).login}",  order %></h1>
	<% end %>
<% else %>
	<% for order in trash_fin() %><h1><%= link_to "Корзина",  order %></h1><% end %>
	<% for order in orders_fin() %><li><%= link_to "Заказ #{order.id}",  order %> (<%= orders_status(order.status) %>)</li><% end %>

<% end %>
<br />
<a href="javascript:history.back();">Назад</a>

