<h1>Редактирование каталога</h1>

<% form_for(@catalog) do |f| %>
  <%= f.error_messages %>
	<div>
		<%= f.label "Название" %>:
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label "Описание" %>:
		<%= f.text_field :about %>
	</div>
  <p>
    <%= f.submit "Изменить каталог" %>
  </p>
<% end %>

<%= link_to 'Список каталогов', @catalog %> |
<a href="javascript:history.back();">Назад</a>
