
<% form_for(@catalog) do |f| %>
  <%= f.error_messages %>
<h1>Новый каталог</h1>
	<div>
		<%= f.label "Название" %>:
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label "Информация" %>:
		<%= f.text_field :about %>
	</div>
	<div>
		<%= f.submit "Создать Каталог", :class => "submit" %>
	</div>
	
	<div>
	<%= link_to 'Отмена', @catalog %> |
	<a href="javascript:history.back();">Назад</a>
	</div>

<% end %>

