<div class="catalogs-form">
<% form_for(@catalog) do |f| %>
  <%= f.error_messages %>
  <fieldset>
<h1>Новый каталог</h1>
	<div>
		<%= f.label :name %>:
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :about %>:
		<%= f.text_field :about %>
	</div>
	<div>
		<%= f.submit "Создать Каталог", :class => "submit" %>
	</div>
	
	<div>
	<%= link_to 'Back', catalogs_path %>
	</div>
</fieldset>

<% end %>
</div>
