
	<% form_for(@user) do |f| %>

			<H2><%= flash[:notice] %></H2>
			<H1>Редактировать информацию об аккаунте</H1>
				<br /><br />
				<div id="login-box-name"> <%= f.label :login %>: </div>
				<div id="login-box-field"> <%= f.text_field :login %></div>
				<div id="login-box-name"> <%= f.label :email %>: </div>
				<div id="login-box-field"> <%= f.text_field :email %></div>
	<br />	<br />
	<%= f.submit "Изменить", :class => "submit" %> </div>

<% end %>
<a href="javascript:history.back();">Назад</a>
