
					<% if session[:user] %>
						<% form_for(@user) do |f| %>
							<%= f.error_messages %>
								<h3>Личный кабинет:</h3><%=  link_to "Покупки", :controller => 'orders' %> 
								<% if @user.login=='admin' %>
									
									<p><strong>Панель администратора:</strong></p> <%=  link_to "Управление товарами", :controller => 'goods' %> | 
									<%=  link_to "Управление каталогами", :controller => 'catalogs' %> | 
									<%= link_to 'Управление пользователями', :controller => 'user', :action => 'index' %> 
								<% end %>
							<p><strong>Имя пользователя:</strong> <%=h @user.login %></p>
							<p><strong>Email:</strong> <%=h @user.email %></p>
							<p><strong>Пол:</strong> <%=h @user.gender %></p>
							<p><strong>Дата рождения:</strong> <%=h "#{@user.bday}.#{@user.bmounth}.#{@user.byear}" %></p>
							<p><strong>Дата регистрации:</strong> <%= @user.created_at.to_s(:long) %></p>
							<h3>Редактировать профиль</h3>
							<div id="login-box-name"> <%= f.label :login, params[:login] %>: </div>
							<div id="login-box-field"> <%= f.text_field :login %></div>
							<div id="login-box-name"> <%= f.label :email, params[:email] %>: </div>
							<div id="login-box-field"> <%= f.text_field :email %></div>
							<%= f.submit "Сохранить", :class => "submit" %> </div>
						<% end %>
					<% else -%>
						<p>Пожалуйста авторизируйтесь:
						<%= link_to 'Вход', :controller => 'user', :action => 'login' %> |
						</p>
					<% end -%>
<a href="javascript:history.back();">Назад</a>