<h1>Редактирование товара</h1>

<% form_for(@good) do |f| %>
  <%= f.error_messages %>
	<div>
		<%= f.label "Название" %>:
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label "Ширина" %>:
		<%= f.text_field :size_x %>
	</div>
	<div>
		<%= f.label "Длина" %>:
		<%= f.text_field :size_y %>
	</div>
	<div>
		<%= f.label "Высота" %>:
		<%= f.text_field :size_z %>
	</div>
		<div>
		<%= f.label "Вес" %>:
		<%= f.text_field :weight %>
	</div>
	</div>
	<div>
		<%= f.label "Цена" %>:
		<%= f.text_field :price %>
	</div>
	</div>
		<div>
		<%= f.label "Информация" %>:
		<%= f.text_field :about %>
	</div>
	<div>
		<%= f.label "Количество" %>:
		<%= f.text_field :quant %>
	</div>
	<div>
		<%= f.label "Производитель" %>:
		<%= f.text_field :provider %>
	</div>
	<div>
		<%= f.label "Каталог" %>:
		<%= catalogs_select('good[catalog_id]') %>
	</div>
  <p>
    <%= f.submit "Изменить товар" %>
  </p>
<% end %>

<%= link_to 'Список товаров', @good %> |
<a href="javascript:history.back();">Назад</a>

