<h1>Редактирование товара</h1>

<% form_for(@good) do |f| %>
  <%= f.error_messages %>
	<div>
		<%= f.label :name %>:
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :size_x %>:
		<%= f.text_field :size_x %>
	</div>
	<div>
		<%= f.label :size_y %>:
		<%= f.text_field :size_y %>
	</div>
	<div>
		<%= f.label :size_z %>:
		<%= f.text_field :size_z %>
	</div>
		<div>
		<%= f.label :weight %>:
		<%= f.text_field :weight %>
	</div>
	</div>
	<div>
		<%= f.label :price %>:
		<%= f.text_field :price %>
	</div>
	</div>
		<div>
		<%= f.label :about %>:
		<%= f.text_field :about %>
	</div>
  <p>
    <%= f.submit "Изменить товар" %>
  </p>
<% end %>

<%= link_to 'Показать', @good %> |
<%= link_to 'Назад к списку', goods_path %>
